.ColorPicker {
  button {
    border: none;
    padding: 1em;

    cursor: pointer;
  }

  .salmon {
    background-color: salmon;
    color: white;
  }

  .yellow {
    background-color: gold;
    color: gray;
  }

  .blue {
    background-color: teal;
    color: white;
  }
}
